<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Emporium
Version    : 1.0
Released   : 20090222
Description: A two-column, fixed-width and lightweight template ideal for 1024x768 resolutions. Suitable for blogs and small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Mobile Wingman</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="stylesheets/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
<!-- start header -->

<div id="logo">
	<h1><a href="#">MobileWingman </a></h1>
	
	<h2> &raquo;&nbsp;&nbsp;&nbsp;A mobile solution to contact management</h2>
</div>
<div id="header">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="/home/index">Home</a></li>
			<li><%= link_to "Overview", "layoust/overview" %></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Media</a></li>
			<li><a href="#">Blog</a></li>
			<li class="last"><a href="#">About Us</a></li>
		</ul>
	</div>
</div>
<!-- end header -->
</div>
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
			<h1 class="title">About Us </h1>



				<img src="/images/ucsb.jpg" style="height:150px;width:150px;"/>
				<div>
					<p>
						This app has been created by three students at the University of California Santa Barbara in conjuction with ECE594BB(special topics in embeded systems).  We have created this application to demonstrate computing possibilities and limitations on mobile devices and to show an example of using real time facial recognition, something that can become much more useful in the future as hardware improves.
					</p>
				<h12>The Team:</h12>
				<ul>
					<li>Daniel Sauerbrun - Unemployed</li>
						<p>A Fourth year Computer Science major from San Fernando Valley who enjoys technology, mixed martial arts, building computers, and web development.</p>
					<li>Kip Kaehler - Unemployed</li>
						<p>A Fourth year Computer Science major originally from Chicago who splits his time between sailing, surfing, kiteboarding and CSIL.</p>
					<li>Ryan Packbaz - Unemployed</li>
						<p>A Fourth year Computer Engineering major originating from Sacramento who loves all things Japenese.</p>
				</ul>
			

			</div>					
		









			<!--<div class="meta">
				<p class="links"><a href="#" class="more">Read full article</a> <b>|</b> <a href="#" class="comments">Comments (32)</a></p>
			</div>-->
		</div>
	</div>


	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>
			<li>
				<h2>Recent Blog Posts</h2>
				<ul>
				     <% for i in 0..6 #try and post 7 posts%>
					<% if not @posts[i].nil? %>
					    <li>
						<%= link_to (@posts[i].title.to_s + " (by " + @posts[i].author + ")"), @posts[i] %>
					    </li>
					<% end %>
  				     <% end # loop of posts %>
					<!--<li><a href="#">Fusce dui neque fringilla</a></li>
					<li><a href="#">Eget tempor eget nonummy</a></li>
					<li><a href="#">Magna lacus bibendum mauris</a></li>
					<li><a href="#">Nec metus sed donec</a></li>
					<li><a href="#">Magna lacus bibendum mauris</a></li>
					<li><a href="#">Velit semper nisi molestie</a></li>
					<li><a href="#">Eget tempor eget nonummy</a></li>-->
				</ul>
			</li>
			
		</ul>
	</div>
	<!-- end sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<!-- start footer -->
<div id="footer">
	<p id="legal">( c ) 2008. All Rights Reserved. <a href="http://www.freecsstemplates.org/">Bestfriends</a> designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
</div>
<!-- end footer -->
</body>
</html>

